aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
antlr4-python3-runtime==4.9.3
appdirs==1.4.4
appnope==0.1.3
asgiref==3.7.2
asttokens==2.4.0
attr==0.3.1
attrs==23.1.0
audioread==3.1.0
azure-core==1.29.5
azure-storage-blob==12.19.0
backcall==0.2.0
bleach==5.0.1
boto==2.49.0
boto3==1.16.63
botocore==1.19.63
boxing==0.1.4
braceexpand==0.1.7
cachetools==5.3.1
certifi==2023.7.22
cffi==1.16.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
comm==0.1.4
contourpy==1.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==41.0.5
cycler==0.11.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Django==3.2.20
django-annoying==0.10.6
django-cors-headers==3.6.0
django-debug-toolbar==3.2.1
django-environ==0.10.0
django-extensions==3.1.0
django-filter==2.4.0
django-model-utils==4.1.1
django-ranged-fileresponse==0.1.2
django-rest-swagger==2.2.0
django-rq==2.5.1
django-storages==1.12.3
django-user-agents==0.4.0
djangorestframework==3.13.1
dlib==19.24.2
drf-dynamic-fields==0.3.0
drf-flex-fields==0.9.5
drf-generators==0.3.0
drf-yasg==1.20.0
einops==0.8.1
encodec==0.1.1
executing==1.2.0
expiringdict==1.2.2
face-recognition==1.3.0
face-recognition-models==0.3.0
filelock==3.20.0
fonttools==4.42.1
frechet_audio_distance==0.3.2
frozenlist==1.8.0
frplib==0.1.22
fsspec==2025.10.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.45
google-api-core==2.11.0
google-api-python-client==2.99.0
google-auth==2.14.1
google-auth-httplib2==0.1.1
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.2
google-cloud-logging==2.7.1
google-cloud-storage==2.5.0
google-crc32c==1.5.0
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
grpc-google-iam-v1==0.12.4
grpcio==1.59.2
grpcio-status==1.59.2
h5py==3.15.1
hf-xet==1.2.0
htmlmin==0.1.12
httplib2==0.22.0
huggingface-hub==0.36.0
idna==3.4
ijson==3.2.3
inflection==0.5.1
ipykernel==6.25.2
ipython==8.15.0
isodate==0.6.1
itypes==1.2.0
jedi==0.19.0
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.3.2
jsonschema==3.2.0
jupyter_client==8.3.1
jupyter_core==5.3.1
kiwisolver==1.4.5
label-studio==1.8.2.post1
label-studio-converter==0.0.54rc0
label-studio-tools==0.0.3
laion_clap==1.1.7
launchdarkly-server-sdk==7.5.0
lazy_loader==0.4
librosa==0.11.0
lightning-utilities==0.15.2
llvmlite==0.45.1
lockfile==0.12.2
lxml==4.9.3
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.8.0
matplotlib-inline==0.1.6
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.2
multidict==6.7.0
nest-asyncio==1.5.7
networkx==3.1
nltk==3.6.7
numba==0.62.1
numpy==1.24.3
omegaconf==2.3.0
openapi-codec==1.3.2
opencv-python==4.8.0.76
ordered-set==4.0.2
packaging==23.1
pandas==2.1.1
parso==0.8.3
parsy==2.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
platformdirs==3.10.0
pooch==1.8.2
progressbar==2.5
prompt-toolkit==3.0.39
propcache==0.4.1
proto-plus==1.22.3
protobuf==4.24.3
psutil==5.9.5
psycopg2-binary==2.9.6
ptpython==3.0.23
ptyprocess==0.7.0
pure-eval==0.2.2
py4j==0.10.9.7
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.13.6
pycparser==2.21
pydantic==1.10.13
Pygments==2.16.1
pymeta2==0.0.0
pyparsing==3.1.1
pyRFC3339==1.1
pyrsistent==0.20.0
pyspark==3.5.1
python-dateutil==2.8.2
python-json-logger==2.0.4
pytorch-lightning==1.9.5
pytz==2022.7.1
PyYAML==6.0.1
pyzmq==25.1.1
rapydscript==0.0.2
redis==3.5.3
regex==2023.10.3
requests==2.31.0
resampy==0.4.3
rich==13.5.2
rq==1.10.1
rsa==4.9
ruamel.yaml==0.18.5
ruamel.yaml.clib==0.2.8
rules==2.2
s3transfer==0.3.7
safetensors==0.7.0
scikit-learn==1.7.2
scipy==1.11.3
segment-tree==0.3.2
semver==2.13.0
sentry-sdk==2.45.0
simplejson==3.19.2
six==1.16.0
smmap==5.0.2
soundfile==0.13.1
soxr==1.0.0
sqlparse==0.4.4
stack-data==0.6.2
sympy==1.14.0
threadpoolctl==3.6.0
tokenizers==0.22.1
torch==2.9.1
torchaudio==2.9.1
torchlibrosa==0.1.0
torchmetrics==1.8.2
torchvision==0.24.1
tornado==6.3.3
tqdm==4.66.1
traitlets==5.10.0
transformers==4.57.1
typing_extensions==4.15.0
tzdata==2023.3
ua-parser==0.18.0
ujson==5.8.0
uritemplate==4.1.1
urllib3==1.26.16
user-agents==2.2.0
wandb==0.23.0
wcwidth==0.2.6
webdataset==1.0.2
webencodings==0.5.1
wget==3.2
xmljson==0.2.0
yarl==1.22.0
